

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Blog</h1>
    <a href="/new">Create New Post</a>
    <% posts.forEach(post => { %>
        <div>
            <h2><a href="/posts/<%= post._id %>"><%= post.title %></a></h2>
            <p><%= post.content.substring(0, 100) %>...</p>
        </div>
    <% }) %>
</body>
</html>